extends layout

block content
    h1 Бронирование столика
    p Номер стола: #{table.number}
    hr
    form(method='POST' action='')
        div.form-group
            label(for='name') Ваше имя:
            input#name.form-control(type='text', placeholder='Павел' name='name' value=(undefined === customer ? '' : customer.name), required='true')

            label(for='phone') Телефон:
            input#phone.form-control(type='text', placeholder='89122665566' name='phone' value=(undefined === customer ? '' : customer.phone_number), required='true')

        button.btn.btn-primary(type='submit') Забронировать

    if errors
        ul
            for error in errors
                li!= error.msg