extends layout

block content
    h1 Столики для бронирования
    ul
        each table in tables
            li Номер:
                a(href="/tables/" + table.number) #{table.number}
                |  <br>Количество мест: #{table.capacity}

        else
            li В данный момент свободных столиков нет.