extends layout

block content
    h1 Столики для бронирования
    ul(class='table-list')
        each table in tables
            li
                a(href="/tables/book/" + table.number class='list-element') Номер: #{table.number}<br>Количество мест: #{table.capacity}<br>Расположение стола: #{table.place}

        else
            li В данный момент свободных столиков нет.