extends layout

block content
    h1 Наши сотрудники
    ul
        each worker in workers
            li
                img(src='/public/images/dd.png' style='width:350px; height:500px;')
            | Имя: #{worker.name}

        else
            li Сотрудников нет.